@import url("./mocha.css");
* {
	font-family: "CaskaydiaCove Nerd Font Propo";
	font-size: 13px;
    margin: 0;
    padding: 0;
}

#waybar {
	background: transparent;
	color: @text;
}

#workspaces {
	border-radius: 1rem;
	background-color: @base;
	border: 2px solid @mauve;
    padding: 0 10px;
}

#workspaces button {
	color: @mauve;
	border-radius: 1rem;
    padding: 0 5px;
}

#workspaces button.active {
	color: @peach;
	border-radius: 1rem;
}

#workspaces button.visible {
	color: @peach;
	border-radius: 1rem;
}

#workspaces button:hover {
	color: @peach;
	border-radius: 1rem;
}

#workspaces button.urgent {
	color: @red;
	border-radius: 1rem;
}

#tray {
	background-color: @base;
	border: 2px solid @text;
	border-radius: 1rem;
    padding: 0 10px;
    margin: 0 0 0 5px;
}

#window {
	background-color: @base;
	border: 2px solid @text;
	border-radius: 1rem;
    padding: 0 15px;
}

window#waybar.empty #window {
	border: none;
}

#pulseaudio {
	color: @peach;
	background-color: @base;
	border: 2px solid @peach;
	border-radius: 1rem;
    padding: 0 10px;
    margin: 0 5px 0 0;
}

#battery {
	color: @mauve;
	background-color: @base;
	border: 2px solid @mauve;
	border-radius: 1rem;
    padding: 0 10px;
    margin: 0 5px 0 0;
}

#battery.charging {
	color: @green;
	border-color: @green;
}

#battery.warning:not(.charging) {
	color: @red;
	border-color: @red;
}

#cpu {
	color: @peach;
	background-color: @base;
	border: 2px solid @peach;
    border-right: none;
    border-radius: 1rem 0 0 1rem;
    padding: 0 5px 0 10px;
}

#memory {
	color: @peach;
	background-color: @base;
	border: 2px solid @peach;
    border-left: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 10px 0 5px;
    margin: 0 5px 0 0;
}

#disk.root {
	color: @mauve;
	background-color: @base;
	border: 2px solid @mauve;
    border-right: none;
    border-radius: 1rem 0 0 1rem;
    padding: 0 5px 0 10px;
}

#disk.home {
	color: @mauve;
	background-color: @base;
	border: 2px solid @mauve;
    border-left: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 10px 0 5px;
    margin: 0 5px 0 0;
}

#clock.time {
	color: @peach;
	background-color: @base;
	border: 2px solid @peach;
    border-right: none;
    border-radius: 1rem 0 0 1rem;
    padding: 0 5px 0 10px;
}

#clock.date {
	color: @peach;
	background-color: @base;
	border: 2px solid @peach;
    border-left: none;
	border-radius: 0 1rem 1rem 0;
    padding: 0 10px 0 5px;
}
