@import url("./mocha.css");
* {
	font-family: "CaskaydiaCove Nerd Font Propo";
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#waybar {
	background: transparent;
	color: @text;
}

#workspaces {
    background: transparent;
}

#workspaces button {
	color: @crust;
    background-color: @mauve;
	border-radius: 0.5rem;
    margin: 0 5px 0 0;
    padding: 0 5px;
}

#workspaces button.active {
    background-color: @peach;
	border-radius: 1rem;
}

#workspaces button.visible {
    background-color: @peach;
	border-radius: 1rem;
}

#workspaces button:hover {
	border-radius: 1rem;
}

#workspaces button.urgent {
    background-color: @red;
}

#tray {
	background-color: @base;
	border: 2px solid @rosewater;
	border-radius: 1rem;
    padding: 0 10px;
}

#window {
    color: @crust;
    font-weight: bold;
	background-color: @rosewater;
	border-radius: 1rem;
    padding: 0 15px;
}

window#waybar.empty #window {
    background: none;
}

#pulseaudio {
	color: @peach;
	background-color: @base;
	border: 2px solid @peach;
	border-radius: 1rem;
    padding: 0 10px;
    margin: 0 5px 0 0;
}

#battery {
	color: @mauve;
	background-color: @base;
	border: 2px solid @mauve;
	border-radius: 1rem;
    padding: 0 10px;
    margin: 0 5px 0 0;
}

#battery.charging {
	color: @green;
	border-color: @green;
}

#battery.warning:not(.charging) {
	color: @red;
	border-color: @red;
}

#cpu {
	color: @peach;
	background-color: @base;
	border: 2px solid @peach;
    border-right: none;
    border-radius: 1rem 0 0 1rem;
    padding: 0 5px 0 10px;
}

#memory {
	color: @peach;
	background-color: @base;
	border: 2px solid @peach;
    border-left: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 10px 0 5px;
    margin: 0 5px 0 0;
}

#disk.root {
	color: @mauve;
	background-color: @base;
	border: 2px solid @mauve;
    border-right: none;
    border-radius: 1rem 0 0 1rem;
    padding: 0 5px 0 10px;
}

#disk.home {
	color: @mauve;
	background-color: @base;
	border: 2px solid @mauve;
    border-left: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 10px 0 5px;
    margin: 0 5px 0 0;
}

#clock.time {
	color: @peach;
	background-color: @base;
	border: 2px solid @peach;
    border-right: none;
    border-radius: 1rem 0 0 1rem;
    padding: 0 5px 0 10px;
}

#clock.date {
	color: @peach;
	background-color: @base;
	border: 2px solid @peach;
    border-left: none;
	border-radius: 0 1rem 1rem 0;
    padding: 0 10px 0 5px;
    margin: 0 5px 0 0;
}

#custom-notification {
    color: @rosewater;
    font-family: "CaskaydiaCove Nerd Font Mono";
    font-size: 15px;
    background-color: @base;
    border: 2px solid @rosewater;
    border-radius: 0.5rem;
    padding: 0 8px 0 8px;
}
